<h1 class="main-title"><%= @merchant.name %></h1>
<main class="individual-merchant-container">
  <div class="transactions-this-month">
    <h3>Transactions in <%= @month %></h3>
    <table class="basic-table">
      <% @transactions.each do |transaction| %>
      <tr>
        <td><%= to_uk_date(transaction.date) %></td>
        <td>&pound; <%= to_pounds(transaction.amount) %></td>
        <td>
          <a href ="/tags/<%= transaction.tag_id %>">
          <%= transaction.tag.name %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
  <div class="monthly">
    <h3>Previous spending at <%= @merchant.name %></h3>
    <table class="basic-table">
      <% @monthly.each do |month| %>
      <tr>
        <td><%= month['month'] %></td>
        <td>&pound; <%= to_pounds(month['amount'].to_i) %></td>
      </tr>
      <% end %>
    </table>
  </div>
</main>
