<main>
  <section class="top-line">
    <h2>Total Spent: £ <%= as_money(Transaction.total_spent) %></h2>
    <h2><a href="/add/transaction">Add new transaction</a></h2>
  </section>
  <section class="transaction-table">
    <table>
      <tr>
        <th>Merchant</td>
        <th>Amount</td>
        <th>Tag</td>
      </tr>
      <% @transactions.each do |transaction| %>
      <tr>
        <td>
          <a href = "/merchants/<%= transaction.merchant_id %>">
            <%= Merchant.find_by_id(transaction.merchant_id).name %>
          </a>
        </td>
        <td>£ <%= as_money(transaction.amount) %></td>
        <td>
          <a href = "/tags/<%= transaction.tag_id %>">
            <%= Tag.find_by_id(transaction.tag_id).name %>
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </section>
</main>
