<main>
  <section class="top-line">
    <h2>Total Spent: £ <%= to_pounds(Transaction.total_spent) %></h2>
    <h2><a href="/add/transaction">Add new transaction</a></h2>
    <h2><a href="/add/merchant">Add new merchant</a></h2>
    <h2><a href="/budgets/add">Add new budget</a></h2>
  </section>
  <section class="transaction-table">
    <table>
      <tr>
        <th>Date</th>
        <th>Merchant</th>
        <th>Amount</th>
        <th>Tag</th>
      </tr>
      <% @transactions.each do |transaction| %>
      <tr>
        <td><%=to_uk_date(transaction.date)%></td>
        <td>
          <a href = "/merchants/<%= transaction.merchant_id %>">
            <%= transaction.merchant.name %>
          </a>
        </td>
        <td>£ <%= to_pounds(transaction.amount) %></td>
        <td>
          <a href = "/tags/<%= transaction.tag_id %>">
            <%= transaction.tag.name %>
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </section>
</main>
