<main>
  <h2 class="summary-title">Total spent in <%= @month%>: &pound; <%= to_pounds(@amount) %></h2>
  <section class="transaction-table">
    <table>
      <tr>
        <th>Date</th>
        <th>Merchant</th>
        <th>Amount</th>
        <th>Tag</th>
      </tr>
      <% @transactions.each do |transaction| %>
      <tr>
        <td><%=to_uk_date(transaction.date)%></td>
        <td>
          <a href = "/merchants/<%= transaction.merchant_id %>">
            <%= transaction.merchant.name %>
          </a>
        </td>
        <td>&pound; <%= to_pounds(transaction.amount) %></td>
        <td>
          <a href = "/tags/<%= transaction.tag_id %>">
            <%= transaction.tag.name %>
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </section>
</main>
