<main>
  <h2 class="summary-title"><%=@month%></h2>
  <section class="transaction-table">
    <table>
      <tr>
        <th>Date</th>
        <th>Merchant</th>
        <th>Amount</th>
        <th>Tag</th>
      </tr>
      <% @transactions.each do |transaction| %>
      <tr>
        <td><%=transaction.date%></td>
        <td>
          <a href = "/merchants/<%= transaction.merchant_id %>">
            <%= Merchant.find_by_id(transaction.merchant_id).name %>
          </a>
        </td>
        <td>£ <%= to_pounds(transaction.amount) %></td>
        <td>
          <a href = "/tags/<%= transaction.tag_id %>">
            <%= Tag.find_by_id(transaction.tag_id).name %>
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </section>
</main>
