<h1 class="main-title"><%= @tag.name  %></h1>
<main class="individual-tag-container">
  <% if @budget != nil%>
  <div class="main-budget">
    <div class="spending-progress large-progress-bar">
      <div class="spent" style="width:<%=@budget_info['percentage']%>%">
        <%=@budget_info['percentage']%>&#37;
      </div>
    </div>
    <p class="spending-progress-info">&pound;
    <%=to_pounds(@budget_info['spent'])%> of &pound;<%=to_pounds(@budget_info['amount'].to_i)%>
    spent in <%=@date.strftime("%B")%></p>
    <a href="/budgets/update/<%=@budget.id%>">
      Edit budget
    </a>
  </div>
  <% end %>
  <div class="transactions-this-month">
    <h3>Transactions in <%=@date.strftime("%B")%></h3>
    <table class="basic-table">
      <% @transactions.each do |transaction| %>
      <tr>
        <td class="date"><%= to_uk_date(transaction.date)%></td>
        <td class="merchant">
          <a href = "/merchants/<%=transaction.merchant_id%>">
            <%= transaction.merchant.name %>
          </a>
        </td>
        <td class="amount">&pound; <%= to_pounds(transaction.amount) %></td>
      </tr>
      <% end %>
    </table>
  </div>
  <div class="monthly">
    <h3>Previous spending for <%= @tag.name %></h3>
    <table class="basic-table">
      <% @monthly.each do |month| %>
      <tr>
        <td><%= month['month'] %></td>
        <td>&pound; <%= to_pounds(month['amount'].to_i) %></td>
      </tr>
      <% end %>
    </table>
  </div>
</main>
