<main>
  <h2 class="summary-title"><%= @tag.name %></h2>
  <% if @budget != nil%>
    <h3>Monthly budget for <%= @tag.name %> is £ <%=to_pounds(@budget.amount)%></h3>
    <a href = "/budget/update/<%= @budget.id%>">Edit</a>
  <% end %>
  <section class="transaction-table">
    <table>
      <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Merchant</th>
      </tr>
      <% @transactions.each do |transaction| %>
      <tr>
        <td><%= to_uk_date(transaction.date)%></td>
        <td>£ <%= to_pounds(transaction.amount) %></td>
        <td>
          <a href = "/merchants/<%=transaction.merchant_id%>">
            <%= transaction.merchant.name %>
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </section>
</main>
