<main>
  <h2 class="summary-title"><%= @tag.name %></h2>
  <section class="transaction-table">
    <table>
      <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Merchant</th>
      </tr>
      <% @transactions.each do |transaction| %>
      <tr>
        <td><%= to_uk_date(transaction.date)%></td>
        <td>£ <%= to_pounds(transaction.amount) %></td>
        <td>
          <a href = "/merchants/<%=transaction.merchant_id%>">
            <%= Merchant.find_by_id(transaction.merchant_id).name %>
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </section>
</main>
