<h1 class="main-title">Add a Transaction</h1>
<main class="form-container">
  <form class="add-form" action="/add/transaction" method="post">
    <% if @error != nil%><p class="error"><%=@error%></p><% end %>
    <label class="small" for="date">Date:</label>
    <input class="small" type="date" name="dt">
    <label class="small" for="amount">Amount:</label>
    <input class="small" type="number" name="amount">
    <label for="merchant">Merchant:</label>
    <select name="merchant_id">
      <% @merchants.each do |merchant| %>
        <option value="<%=merchant.id%>"><%=merchant.name%></option>
      <% end %>
    </select>
    <label for="tag">Tag:</label>
    <select name="tag_id">
      <% @tags.each do |tag| %>
        <option value="<%=tag.id%>"><%=tag.name%></option>
      <% end %>
    </select>
    <input class="large-btn btn"type="submit" value="Add Transaction">
  </form>
</main>
