<h1 class="main-title">Transactions</h1>
<main class = "all-transactions">
  <div class="main-budget">
    <div class="spending-progress large-progress-bar">
      <div class="spent <%if @main_budget['percentage'] > 100%>over-spent<%end%>" style="width:<%=@main_budget['percentage']%>%">
        <%=@main_budget['percentage']%>&#37;
      </div>
    </div>
    <p class="spending-progress-info">&pound;
    <%=to_pounds(@main_budget['spent'])%> of &pound;<%=to_pounds(@main_budget['amount'])%>
    spent in <%=@date.strftime("%B")%></p>
  </div>
  <div class="transactions">
    <table>
      <% @transactions.each do |transaction| %>
      <tr>
        <td class = "date"><%=to_uk_date(transaction.date)%></td>
        <td class = "merchant">
          <a href = "/merchants/<%= transaction.merchant_id %>">
            <%= transaction.merchant.name %>
          </a>
        </td>
        <td class = "amount">&pound; <%= to_pounds(transaction.amount) %></td>
        <td class = "tag">
          <a href = "/tags/<%= transaction.tag_id %>">
            <%= transaction.tag.name %>
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
  <div class="cta">
    <a href="/add/transaction" class="btn large-btn">Add a transaction</a>
    <a href="/add/merchant" class="btn large-btn">Add a merchant</a>
  </div>
  <ul class="previous-spending">
    <h3>Previous spending</h3>
    <% @previous.each do |budget|%>
      <li>
        <%= budget['tag'] %>
        <div class="spending-progress standard-progress-bar">
          <div class="spent <%if budget['percentage'] > 100%>over-spent<%end%>" style="width:<%=budget['percentage']%>%">
            <%=budget['percentage']%>&#37;
          </div>
        </div>
        <p class="spending-progress-info">&pound;
        <%=to_pounds(budget['spent'])%> of &pound;
        <%=to_pounds(budget['amount'])%> spent in
        <%=budget['month']%></p>
      </li>
    <% end %>
  </ul>
</main>
