<main>
  <h2 class="summary-title">Budgets</h2>
  <h3>Monthly Budget: <%=@main.amount%></h3>
  <a href="/budgets/update/<%= @main.id %>">
    Edit
  </a>
  <section class="transaction-table">
    <table>
      <tr>
        <th>Amount</th>
        <th>Tag</th>
      </tr>
      <% @tag_budgets.each do |budget| %>
      <tr>
        <td>£ <%= to_pounds(budget.amount) %></td>
        <td>
          <a href ="/tags/<%= budget.tag_id %>">
          <%= Tag.find_by_id(budget.tag_id).name %>
        </td>
        <td>
          <a href="/budgets/update/<%= budget.id %>">
            Edit
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </section>
</main>
